[submodule "files/vim/.vim/pack/plugins/start/nerdtree"]
	path = files/vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "files/vim/.vim/pack/plugins/start/base16-vim"]
	path = files/vim/.vim/pack/plugins/start/base16-vim
	url = git@github.com:danielwe/base16-vim.git
