alias l="ls -al"       # List in long format, include dotfiles
alias ld="ls -dl */"   # List in long format, only directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Aliases for persistent history
alias phgrep='cat ~/.persistent_history|grep --color'
alias hgrep='history|grep --color'
