# macOS doesn't like long options for ls
if [ $(uname) == "Darwin" ]; then
	alias ls='ls -G'
else
	alias ls='ls --color=auto'
fi

# Basic aliases for ls and cd
alias l="ls -Al"        # List in long format, include dotfiles
alias ld="ls -dl */"    # List in long format, only directories
alias ldh="ls -ld .*/"  # List only hidden directories
alias lh="ls -ld .*"    # List all hidden files and directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Add colors to any grep calls
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Aliases for persistent history
alias phgrep='cat ~/.persistent_history|grep --color -a'
alias hgrep='history|grep --color'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Add alias for better looking diffs
alias cdiff='cdiff'

# Alias to pull all git repos within the current directory
# Use "...*" instead of "..+" for regex to be compatible with macOS
alias upgit='find . -maxdepth 1 -regex "...*" -type d -exec git --git-dir={}/.git --work-tree=$PWD/{} pull origin master \;'
alias upgit-status='find . -maxdepth 1 -regex "...*" -type d -exec echo git --git-dir={}/.git --work-tree=$PWD/{} status \;'

# Alias to force tmux to use 256 colors
alias tmux='tmux -2'

# Find external IP address
alias wanip='dig +short myip.opendns.com @resolver1.opendns.com'

# Commands for writing in personal and work journal
alias wjrnl='~/Code/Personal/journal/jrnl.py --work ~/Dropbox/Logbook'
alias pjrnl='~/Code/Personal/journal/jrnl.py ~/Code/Personal/journal/entries'
