# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete

# Filtered history search with arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[1;3D": backward-word
"\e[1;3C": forward-word
