[user]
	name = Sean Lane
	email = git@sean.lane.sh

[github]
    user = seanlane

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
	autocrlf = input

[push]
	default = current
[icdiff]
	options = --highlight --line-numbers
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lg = log --graph --pretty=format:'%C(yellow)%h %Cgreen(%cd)%Creset -%C(auto)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
