[user]
	name = Sean Lane
	email = git@sean.lane.sh

[github]
    user = seanlane

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
	autocrlf = input

[push]
	default = current
[icdiff]
	options = --highlight --line-numbers
